@font-face {
	font-family: Inter;
	src: url(../../dist/Inter/Inter-VariableFont_slnt,wght.ttf) format("truetype");
	font-weight: 100 900;
}

:root {
	--white: #FFFFFF;
	--black: #000000;

	--gray25: #FCFCFD;
	--gray50: #F9FAFB;
	--gray100: #F2F4F7;
	--gray200: #EAECF0;
	--gray300: #D0D5DD;
	--gray400: #98A2B3;
	--gray500: #667085;
	--gray600: #475467;
	--gray700: #344054;
	--gray800: #1D2939;
	--gray900: #101828;

	--primary25: #FCFAFF;
	--primary50: #F9F5FF;
	--primary100: #F4EBFF;
	--primary200: #E9D7FE;
	--primary300: #D6BBFB;
	--primary400: #B692F6;
	--primary500: #9E77ED;
	--primary600: #7F56D9;
	--primary700: #6941C6;
	--primary800: #53389E;
	--primary900: #42307D;

	--error25: #FFFBFA;
	--error50: #FEF3F2;
	--error100: #FEE4E2;
	--error200: #FECDCA;
	--error300: #FDA29B;
	--error400: #F97066;
	--error500: #F04438;
	--error600: #D92D20;
	--error700: #B42318;
	--error800: #912018;
	--error900: #7A271A;

	--divider: 1px solid var(--gray200);

	--displaySm: 30px/38px Inter;
	--textMd: 16px/24px Inter;
	--textSm: 14px/20px Inter;
}

* {
     box-sizing: border-box 
 }

html, body {
	height: 100%;
	font-family: Inter;
}

body {
	display: flex;
}

h1 {
	font: var(--displaySm);
	font-weight: 500;
	margin: 24px 16px;
	color: var(--gray900);
}

h2 {
	font: var(--textMd);
	font-weight: 500;
	margin: 0;
	color: var(--gray700);
}

#sidebar {
	width: 300px;
	max-width: 400px;
	min-width: 200px;
	border-right: var(--divider);
	position: relative;
	display: flex;
	flex-direction: column;
}

#resizer {
	position: absolute;
	top: 32px;
	left: 300px;
	width: 5px;
	bottom: 0px;
	cursor: col-resize;
}

#output {
	flex: 1;
	background: var(--gray25);
}

button {
	cursor: pointer;
}

.add-model {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;

	width: calc(100% - 32px);
	height: 40px;

	/* White */

	background: var(--white);
	/* Gray/300 */

	border: 1px solid var(--gray300);
	/* Shadow/xs */

	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;

	/* Inside auto layout */

	flex: none;
	order: 0;

	color: var(--gray700);

	font: var(--textMd);
	font-weight: 600;
	transition: .3s;

	margin: 0 16px 16px;
}

.add-model:hover {
	background-color: var(--gray50);
}

.add-model:focus {
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--gray100);
	outline: 0px transparent !important;
}

.run-model {
	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;

	height: 40px;

	/* White */

	background: var(--primary600);
	/* Gray/300 */

	border: 1px solid var(--primary600);
	/* Shadow/xs */

	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;

	/* Inside auto layout */

	flex: none;
	order: 0;

	color: var(--white);

	font: var(--textMd);
	font-weight: 600;
	transition: .3s;

	margin: auto 16px 16px;
}

.run-model:hover {
	background-color: var(--primary700);
}

.run-model:focus {
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--primary100);
	outline: 0px transparent !important;
}

.sidebar-model {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	/* White */

	background: var(--white);
	/* Gray/200 */

	border-bottom: 1px solid var(--gray300);

	/* Inside auto layout */

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.sidebar-header {
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
	width: 100%;
	padding: 4px 8px;
	cursor: pointer;
	user-select: none;
	background: var(--white);
	transition: 0.2s;
}

.sidebar-header:hover {
	background: var(--gray100);
}

.model-name {
	margin: 0 32px 0 4px;
	font: var(--textMd);
	font-weight: 500;
	color: var(--gray900);
	border: none;
	max-width: 100px;
	padding: 0 4px;
	border-radius: 2px;
}

.textbox {
	border: 1px solid var(--gray300);
	padding: 0 4px;
	border-radius: 2px;
	color: var(--gray900);
	max-width: 100px;
}

.enable-toggle {
	margin-left: auto;
}

.expand-toggle {
	width: 20px;
	height: 20px;
	position: relative;
}

.expand-toggle::before {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	content: "";
	background-image: url(../../dist/chevron-down.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin-left:auto;

	/* Gray/500 */
	filter: brightness(0) saturate(100%) invert(44%) sepia(29%) saturate(275%) hue-rotate(182deg) brightness(92%) contrast(92%);
}

.expand-toggle:hover::before {
	filter: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(2617%) hue-rotate(175deg) brightness(92%) contrast(91%);;
}

.trash {
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	padding: 0;
	margin-left: 4px;
	border: none;
	background: none;
}

.trash::before {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	content: "";
	background-image: url(../../dist/x.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin-left:auto;

	/* Gray/500 */
	filter: brightness(0) saturate(100%) invert(44%) sepia(29%) saturate(275%) hue-rotate(182deg) brightness(92%) contrast(92%);
}

.trash:hover::before {
	filter: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(2617%) hue-rotate(175deg) brightness(92%) contrast(91%);;
}

.checkbox {
	width: 20px;
	height: 20px;
	position: relative;
	appearance: none;
	cursor: pointer;
	outline: none;
}

.checkbox::before {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	content: "";
	border: 1px solid var(--gray300);
	border-radius: 6px;
	transition: background-color .3s, border .3s, box-shadow .3s;
}

.checkbox:checked::before {
	background-image: url(../../dist/check.svg);
	background-position: 50% 50%;
	background-size: .875rem .875rem;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.checkbox:hover::before, .checkbox:checked::before  {
	background-color: var(--primary50);
	border-color: var(--primary600);
}

.checkbox:focus::before  {
	border-color: var(--primary300);
	box-shadow: 0px 0px 0px 4px var(--primary100);
	outline: 0px transparent !important;
}

.checkbox:focus:checked::before  {
	border-color: var(--primary600);
	background-color: var(--primary50);
	box-shadow: 0px 0px 0px 4px var(--primary100);
	outline: 0px transparent !important;
}

.sidebar-body {
	padding-left: 16px;
	padding-bottom: 8px;
	width: 100%;
	overflow: hidden;
}

.sidebar-option {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.sidebar-option > span {
	display: inline-block;
	width: 100px;
	font: var(--textSm);
	font-weight: 500;
}

.sidebar-option .float {
	width: 120px;
}

.model-container {
	overflow: auto;
	border-top: 1px solid var(--gray300);
	margin-bottom: 16px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--gray200);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--gray300);
	border-radius: 8px;
	border: 1px solid var(--gray200);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--gray400);
}

#table {
	/* Content */


	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	margin: 0 16px;

	/* White */

	background: var(--white);

	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.column {
	/* Column */


	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 1;
}