<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colossus Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/main.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='dist/favicon.ico') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='src/js/libs/signals.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='src/js/main.js') }}"></script>
</body>
</html>