<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colossus Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/main.css') }}"/>
</head>
<body>
    <aside id='sidebar'>
        <h1>Models</h1>
        <button id="test">Click here!</button>
        <div id="resizer"></div>
    </aside>
    <main>
        <h1>Output</h1>
        <div id="output"></div>
    </main>
    <script type="module" src="{{ url_for('static', filename='src/main.js') }}"></script>
</body>
</html>